@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans";
}

/* Shared styles */

.secondary-btn {
    padding: 0.625rem 1.5rem;
    border: 1px solid #00856F;
    border-radius: 40px;
}

.secondary-btn a {
    color: #00856F;
    text-decoration: none;
}

.primary-btn {
    background-color: #00856F;
    color: #fff;
    font-size: 0.875rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2.5rem;
}



/* Header section design */

header {
    padding: 0.5rem 7rem 0 7rem;
    background-color: #dce9e2;
}

/* Nav bar design */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-links li{
    list-style: none;
    display: inline-block;
    margin-right: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: #485145;
}

#selected {
    color: #061800;
    font-weight: bold;
}


.hamburger-menu {
    display: none;
}


/* Hero section */

.hero {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero-sub-heading {
    font-size: 0.875rem;
    color: #485145;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.hero-title {
    font-size: clamp(2rem, 3.25rem, 4.5rem);
    font-weight: bold;
    line-height: 1.3;
    color: #00856F;
    margin-bottom: 1.5rem;
}

.hero-description {
    font-size: 1.125rem;
    line-height: 1.5;
    color: #485145;
    margin-bottom: 2rem;
}




/* Device width under 576px */

@media screen and (max-width:576px) {
    header {
        padding: 1rem;
    }
    
    /* navbar section */

    .nav-links {
        display: none;
    }

    #consultation-btn {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
    }

    /* hero section */

    .hero {
        flex-direction: column;
        gap: 4rem;
        text-align: center;
    }

    .hero-title {
        line-height: 1.3;
    }

    .hero-image img {
        max-width: 90%;
    }
}


/* Device width between 576px and 768px */

@media screen and (min-width:576px)  and (max-width:768px) {
    header {
        padding: 1.5rem;
    }

    .nav-links {
        display: none;
    }

    .secondary-btn {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
    }

    /* hero section */

    .hero {
        flex-direction: column;
        gap: 4rem;
        text-align: center;
    }

    .hero-title {
        line-height: 1.3;
    }

    .hero-image img {
        max-width: 90%;
    }
}



/* Device width between 768px and 992px */

@media screen and (min-width:768px) and (max-width:992px) {
    header {
        padding: 1rem 2rem;
    }

    .nav-links {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
    }

    #nav-right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
    }
}


/* Device width between 992px and 1024px */

@media screen and (min-width:992px) and (max-width:1024px) {
    header{
        padding: 1rem 2rem;
    }
}